/* tile de carousel */
.brasil-carousel-tile {
  display: block;
  .tile-header {
    text-align: center;
    p {
        color: #333;
        opacity: .5;
    }
  }
  .image-carousel {
    width:80%;
  }
  h2 {
    height: auto;
  }
  .carousel-thumbs {
    width: 100% !important;
    box-sizing: border-box;
    padding: 0 0 30px 0;
  }

  .swiper-container {
    height:100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: space-evenly;

  }
  .carousel-item {
    display: flex;
    width: 85%;
    flex-direction: initial;
    text-align: left;
    margin: auto;
    img {
        float: none !important;
        margin: 0px;
    }
  }
  .information {
    color: #000;
    margin-left:25px;
    font-size: 2.25rem;

    a {
      display: table-cell;
      vertical-align: middle;
    }
    p {
      font-size: 18px !important;
      i {
        color: #1fc86a;
        font-weight: 800;
        font-style: normal;
      }
      b {
        font-weight: 800;
      }
    }
  }
  .carousel-item:hover {
    background: none;
  }
  .switch-carousel li {
    cursor: pointer;
    display: inline-block !important;
    padding: 10px;
    margin: 0 25px;
    text-transform: uppercase;
  }
  .switch-carousel li.active {
    border-bottom: 5px solid #333;
  }
  .switch-carousel ul {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px 0;
  }
  .swiper-button-white,
  .swiper-button-white.disabled {
    background-color: #37120d;
    border-radius: 47px;
    padding: 0px;
    width: 30px;
    height: 30px;
    background-size: 30%;
  }
  .swiper-pagination-bullet {
    border-radius: 0;
    width: 30px;
  }
  .swiper-pagination-bullet-active {
    background: #1fc86a;
  }
}
