/* tile de carousel */
.brasil-carouselvideos-tile {
  display: block;

  .swiper-video {
    width: 28%;
    padding-top: 10px;
        h4 {  
              position: relative;
              top: -10%;
              font-size: 22px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.32;
              letter-spacing: normal;
              text-align: left;
              color: #222222;
            }
        .imag:after {
            content: "\25B6";
            background-color: #222222;
            color: #fff;
            font-weight: 700;
            border-radius: 20px;
            width: 40px;
            height: 40px;
            position: relative;
            top: -160px;
            text-align: center;
            left: 40%;
            line-height: 40px;
            display: inline-block;
            border: solid 2px #ffffff;
        }
  }
  .tile-header {
    text-align: center;
    p {
        color: #333;
        opacity: .5;
    }
  }
  .carousel-thumbs {
    width: 100% !important;
    box-sizing: border-box;
    padding: 0 0 30px 0;
  }

  .swiper-container {
    height:100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: space-evenly;

  }
  
  .switch-carousel li {
    cursor: pointer;
    display: inline-block !important;
    padding: 10px;
    margin: 0 25px;
    text-transform: uppercase;
  }
  .switch-carousel li.active {
    border-bottom: 5px solid #333;
  }
  .switch-carousel ul {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px 0;
  }
  .swiper-button-white,
  .swiper-button-white.disabled {
    background-color: #37120d;
    border-radius: 47px;
    padding: 0px;
    width: 30px;
    height: 30px;
    background-size: 30%;
  }
  .swiper-pagination-bullet {
    border-radius: 0;
    width: 30px;
  }
  .swiper-pagination-bullet-active {
    background: #1fc86a;
  }
}

.video-player {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(0,0,0,.75);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 999;

    iframe {
       width: 1140px!important;
       max-width: 100%; 
    }
}
