.document-finder-tile  {

  input[type="text"] {
    width: 800px;
    line-height: 2.2em;
  }
  #search-results-wrapper ul {
    margin-left: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #search-results-wrapper li {
    list-style: none;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
    width: 24%;
    background: #fff;
    display: flex;
    align-self: flex-end;
    min-height: 270px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 50px 30px;
  }
  #search-results-wrapper li a {
    color: #333!important;
    font-size: 1.375rem;
    font-weight: bold;
    display: flex;
    flex: 1;
    align-self: flex-end;
  }

}
