/* tile de galleria */
.brasil-gallery-tile {
  width: 100%;
  .swiper-container {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    width: 100% !important;
    background-size: cover;
    background-position: center;
  }
  .gallery-thumbs-container {
    position: relative;
    z-index: 2;
    width: 1060px !important;
    max-width: 100%;
    transform: translateY(-65px);
    margin: -150px auto 0 auto;
    box-sizing: border-box;
  }
  .gallery-thumbs {
    width: 963px !important;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
  }
  .swiper-wrapper {
    width: auto;
  }
  .gallery-thumbs .swiper-slide {
    width: 170px !important;
    height: 130px;
    margin-right: 30px;
    overflow: hidden;
    cursor: pointer;
  }
  .gallery-thumbs .swiper-slide:last-child {
    margin-right: 0;
  }
  .gallery-thumbs .swiper-slide.swiper-slide-active {
    width: 154px !important;
    height: 118px;
    border: 6px solid #fff;
  }
  .gallery-thumbs .gallery-image {
    height: 130px !important;
    object-fit: cover;
  }
  .gallery-global-information {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 1.2rem;
  }
  .gallery-global-information .gallery-title {
    color: #fff;
    font-size: 2.25rem;
    font-family: Raleway, sans-serif;
    margin: 40px 0 15px 0;
    font-weight: bold;
  }
  .gallery-global-information .gallery-description {
    width: 1150px;
    max-width: 100%;
    border-bottom: 1px solid #fff;
    margin: 20px auto;
    padding: 20px 0 45px 0;
    font-size: 1.125rem;
  }
  .gallery-image {
    width: 100%;
  }
  .gallery-information {
    position: absolute;
    top: 30%;
    left: 70%;
    right: 10%;
    color: #fff;
  }
  .gallery-subtitle {
    font-size: 0.875rem;
    color: rgba(255,255,255,0.6);
  }
  .gallery-title {
    margin: 5px 0;
    padding: 0;
    font-size: 1.75rem;
    font-weight: 900;
    color: #fff !important;
    line-height: 2.4rem;
  }
  .gallery-more {
    background: #fff;
    border-radius: 20px;
    padding: 10px 40px;
    margin-top: 25px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.875rem;
  }
  .gallery-more:hover {
    color: inherit !important;
  }
  .thumb-title {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    text-transform: uppercase;
    text-align: center;
  }
}
.template-compose #content .brasil-gallery-tile {
  .gallery-thumbs .crop-warning {
    text-align: center;
    color: #981818;
    text-shadow: 2px 2px 1px #bfbfbf, 2px -2px 1px #bfbfbf, -2px 2px 1px #bfbfbf, -2px -2px 1px #bfbfbf;
    font-weight: bold;
  }
  .gallery-thumbs .swiper-slide {
    position: relative;
  }
  .gallery-thumbs .crop {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 24px;
    height: 24px;
  }
  .gallery-thumbs .crop:link,
  .gallery-thumbs .crop:visited {
    color: #fff;
  }
}
#formfield-brasil-gallery-more_link,
#formfield-brasil-gallery-more_link_text {
  display: none;
}

@media (max-width: 1024px) {
  .brasil-gallery-tile {
    .gallery-global-information .gallery-title {
      margin: 21px 0 15px;
    }
    .gallery-global-information .gallery-description {
      margin: 20px auto;
      padding: 0px 0 25px;
    }
    .gallery-information {
      top: 27%;
      left: 70%;
      right: 4%;
    }
    .gallery-thumbs-container {
      transform: translateY(-25px);
      width: 930px!important;
    }
    .gallery-thumbs {
      width: 843px!important;
    }
  }
}

@media (max-width: 768px) {
  .brasil-gallery-tile {
    .gallery-global-information .gallery-title {
      margin: 8px 0 5px;
    }
    .gallery-global-information .gallery-description {
      margin: 13px auto;
      padding: 0 0 12px;
    }
    .gallery-information {
      top: 25%;
      left: 65%;
      right: 2%;
    }
    .gallery-thumbs-container {
      width: 768px!important;
      margin: 0;
      transform: translateY(0);
    }
    .gallery-thumbs {
      width: 675px!important;
    }
    .swiper-button-next,
    .swiper-button-prev {
      filter: invert(100%);
    }
  }
}

@media (max-width: 425px) {
  .brasil-gallery-tile {
    .gallery-global-information {
      position: static;
      filter: invert(100%);
    }
    .gallery-global-information .gallery-description {
      display: none;
    }
    img.gallery-image {
      float: none;
      margin-bottom: 0;
    }
    .gallery-information {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .gallery-information .gallery-subtitle,
    .gallery-information .gallery-title,
    .gallery-information .gallery-description {
      filter: invert(100%);
      margin: 0;
    }
    .gallery-information .gallery-more {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
    .gallery-thumbs-container {
      display: none;
    }
  }
}
