/* tile de destaques */
#content .brasileficiente-highlights-tile {
  position: relative;

  .highlights-content {
    width: 1114px;
    margin: 0 auto;
  }
  .highlights-text {
    position: absolute;
    top: 200px;

  }
  .highlights-text > h2 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 2.8rem;

    margin-bottom: .5rem;
    padding-right: 40%;

    color: #14629a;
  }
  .highlights-text > h3 {
    font-size: 2.8rem;
    font-style: italic;
    line-height: 1.5rem;

    margin-bottom: 3rem;
    padding-right: 40%;

    text-transform: uppercase;

    color: #2c75a6;
  }
  .highlights-text > p {
    width: 50%;
    font-size: 1.1rem;
    line-height: 1.8rem;

    padding: 0 .5rem;
    margin: 30px 0 50px 0;

    color: #2c75a6;
  }
  .highlights-image {
    object-fit: cover;
    height: 100%;
    width: 100%
  }
  .highlights-video {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;

    text-transform: uppercase;

    color: #2c75a6;
  }
  .highlights-video:after {
      @include sprite($play);
      content: " ";
      white-space: nowrap;
      display: inline-block;
      margin-bottom: -13px;
      margin-left: 10px;
      margin-right: 40px;
    }

  .highlights-more {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;

    padding: 12px 26px;

    text-transform: uppercase;

    color: #2c75a6;
    border: 1px solid #88CBE4;
    border-radius: 32px;
  }
  .highlights-more:hover {
    background-color: #2a9ee0;
    color: #fff !important;
  }
}
.section-sobre #content .brasileficiente-highlights-tile .highlights-text > h2 strong {
    color: #ffc90c;
}
.section-sobre #content .brasileficiente-highlights-tile .highlights-text > p {
    margin: 15px 0 15px 0;
}
.section-sobre #content .highlights-size-medium .highlights-text > p {
    margin: 15px 0 15px 0 !important;
}
.section-sobre #content .highlights-size-medium .highlights-text {
    top: 10vh!important;
}
