.brasil-photogallery-tile {

  .gallery-title {
    text-align: center;
  }

  .container-foo {
    position: relative;
    background: #ccc;
    top: 91%;
    padding: 15px 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    margin-top: -63px;
    height: 30px;

    .text-bottom {
      .credits, .description {
        margin-bottom: 0 !important;
        line-height: 1.2em !important;
        margin-left: 30px;
        color: #fff;
        font-size: 0.875rem !important;
      }
      .credits{
        font-weight: 800;
      }
      .credits:before {
            content: "foto: ";
        }
    }

    .links-bottom {
      .zoom-icon, .download-icon {
        top: 15px;
        position: absolute;
        right: 0;
        margin-right: 30px;
      }
      .zoom-icon {
        margin-right: 80px;
      }
    }
  }
  .swiper-wrapper {
    height: 547px !important;
  }

  .swiper-button-prev.swiper-button-white, 
  .swiper-container-rtl .swiper-button-next.swiper-button-white,
  .swiper-button-next.swiper-button-white, 
  .swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-color: #37120d;
    border-radius: 47px;
    padding: 0px;
    width: 33px;
    height: 33px;
    background-size: 30%;
  }
}


