/* tile de timeline */
.brasil-timeline-tile {
  display: block;
  .tile-header {
    text-align: center;
    p {
        color: #333;
        opacity: .5;
    }
  }
  h2 {
    font-size: 2.25rem !important;
  }
  .timeline-thumbs {
    width: 100% !important;
    box-sizing: border-box;
    padding: 0 0 30px 0;
  }

  a#timeline-link,a#timeline-link:hover {
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 15px 40px;
    line-height: 1rem;
    font-weight: 700!important;
    background: #1fc86a;
    border: 2px solid #1fc86a!important;
    color: #fff!important;
  }

  .swiper-container {
    height:100%;
  }

  .swiper-month {
    margin-top:10px;
  }

  .swiper-slide {
    display: flex;
    justify-content: space-evenly;

  }
  .timeline-item {
    display: flex;
    width: 80%;
    text-align: left;
    padding-top: 0px;
    .image-timeline img{
      float: none !important;
      padding: 20px;
      margin: 0 auto;
    }

  }
  .information-timeline {
    width:50%;
    h2 {
        font-size: 1.5rem !important;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.4;
        letter-spacing: normal;
        text-align: left;
        opacity: 0.5;
    }
    p{
        font-size: 1.5rem !important;;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.4;
        letter-spacing: normal;
        text-align: left;
    }

    a {
      display: table-cell;
      vertical-align: middle;
    }
    .internal-link{
            color: #fff!important;
            background: #1fc86a;
            border-radius: 30px;
            display: inline-block;
            padding: 0 30px;
            font-size: .875rem;
            text-transform: uppercase;
            font-weight: 700;
            border: 2px solid #fff;
            border-bottom: 2px solid #fff!important;
        }

  }
  .timeline-item:hover {
    background: none;
  }
  .switch-timeline li {
    cursor: pointer;
    display: inline-block !important;
    padding: 10px;
    margin: 0 25px;
    text-transform: uppercase;
  }
  .switch-timeline li.active {
    border-bottom: 5px solid #333;
  }
  .switch-timeline ul {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px 0;
  }
  .swiper-button-black {
    color: #222;
    opacity: 1;
  }
  .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35 !important;
  }
  .swiper-pagination-bullet {
    width:10px;
    height:10px;
    background: #000;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: #1fc86a;
    width:15px;
    height:15px;
  }
  .swiper-pagination {
    height: auto;
    .swiper-month p {
      margin-left: -10px;
      margin-top:10px;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.67;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
    }
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 30px;
    }

  .line-timeline {
    width: 80%;
    border-top: solid 2px #222222;
    margin:-43px auto;
    .info-left {
          float:left;
          opacity: 0.5;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.4;
          letter-spacing: normal;
          text-align: left;
          color: #222222;
    }
    .info-right {
          float:right;
          opacity: 0.5;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.4;
          letter-spacing: normal;
          text-align: left;
          color: #222222;
    }
  }
}
