// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$agenda-location-name: 'agenda-location';
$agenda-location-x: 335px;
$agenda-location-y: 110px;
$agenda-location-offset-x: -335px;
$agenda-location-offset-y: -110px;
$agenda-location-width: 8px;
$agenda-location-height: 12px;
$agenda-location-total-width: 344px;
$agenda-location-total-height: 282px;
$agenda-location-image: './img/sprite.png';
$agenda-location: (335px, 110px, -335px, -110px, 8px, 12px, 344px, 282px, './img/sprite.png', 'agenda-location', );
$agenda-timestamp-name: 'agenda-timestamp';
$agenda-timestamp-x: 270px;
$agenda-timestamp-y: 150px;
$agenda-timestamp-offset-x: -270px;
$agenda-timestamp-offset-y: -150px;
$agenda-timestamp-width: 12px;
$agenda-timestamp-height: 12px;
$agenda-timestamp-total-width: 344px;
$agenda-timestamp-total-height: 282px;
$agenda-timestamp-image: './img/sprite.png';
$agenda-timestamp: (270px, 150px, -270px, -150px, 12px, 12px, 344px, 282px, './img/sprite.png', 'agenda-timestamp', );
$ai-name: 'ai';
$ai-x: 0px;
$ai-y: 55px;
$ai-offset-x: 0px;
$ai-offset-y: -55px;
$ai-width: 98px;
$ai-height: 55px;
$ai-total-width: 344px;
$ai-total-height: 282px;
$ai-image: './img/sprite.png';
$ai: (0px, 55px, 0px, -55px, 98px, 55px, 344px, 282px, './img/sprite.png', 'ai', );
$botao-busca-black-name: 'botao-busca-black';
$botao-busca-black-x: 294px;
$botao-busca-black-y: 84px;
$botao-busca-black-offset-x: -294px;
$botao-busca-black-offset-y: -84px;
$botao-busca-black-width: 24px;
$botao-busca-black-height: 22px;
$botao-busca-black-total-width: 344px;
$botao-busca-black-total-height: 282px;
$botao-busca-black-image: './img/sprite.png';
$botao-busca-black: (294px, 84px, -294px, -84px, 24px, 22px, 344px, 282px, './img/sprite.png', 'botao-busca-black', );
$botao-busca-name: 'botao-busca';
$botao-busca-x: 270px;
$botao-busca-y: 84px;
$botao-busca-offset-x: -270px;
$botao-busca-offset-y: -84px;
$botao-busca-width: 24px;
$botao-busca-height: 24px;
$botao-busca-total-width: 344px;
$botao-busca-total-height: 282px;
$botao-busca-image: './img/sprite.png';
$botao-busca: (270px, 84px, -270px, -84px, 24px, 24px, 344px, 282px, './img/sprite.png', 'botao-busca', );
$botao-com-icone-name: 'botao-com-icone';
$botao-com-icone-x: 335px;
$botao-com-icone-y: 122px;
$botao-com-icone-offset-x: -335px;
$botao-com-icone-offset-y: -122px;
$botao-com-icone-width: 9px;
$botao-com-icone-height: 10px;
$botao-com-icone-total-width: 344px;
$botao-com-icone-total-height: 282px;
$botao-com-icone-image: './img/sprite.png';
$botao-com-icone: (335px, 122px, -335px, -122px, 9px, 10px, 344px, 282px, './img/sprite.png', 'botao-com-icone', );
$busca-escuro-name: 'busca-escuro';
$busca-escuro-x: 218px;
$busca-escuro-y: 84px;
$busca-escuro-offset-x: -218px;
$busca-escuro-offset-y: -84px;
$busca-escuro-width: 26px;
$busca-escuro-height: 25px;
$busca-escuro-total-width: 344px;
$busca-escuro-total-height: 282px;
$busca-escuro-image: './img/sprite.png';
$busca-escuro: (218px, 84px, -218px, -84px, 26px, 25px, 344px, 282px, './img/sprite.png', 'busca-escuro', );
$busca-name: 'busca';
$busca-x: 244px;
$busca-y: 84px;
$busca-offset-x: -244px;
$busca-offset-y: -84px;
$busca-width: 26px;
$busca-height: 25px;
$busca-total-width: 344px;
$busca-total-height: 282px;
$busca-image: './img/sprite.png';
$busca: (244px, 84px, -244px, -84px, 26px, 25px, 344px, 282px, './img/sprite.png', 'busca', );
$casinha-branca-name: 'casinha-branca';
$casinha-branca-x: 236px;
$casinha-branca-y: 150px;
$casinha-branca-offset-x: -236px;
$casinha-branca-offset-y: -150px;
$casinha-branca-width: 17px;
$casinha-branca-height: 12px;
$casinha-branca-total-width: 344px;
$casinha-branca-total-height: 282px;
$casinha-branca-image: './img/sprite.png';
$casinha-branca: (236px, 150px, -236px, -150px, 17px, 12px, 344px, 282px, './img/sprite.png', 'casinha-branca', );
$casinha-name: 'casinha';
$casinha-x: 253px;
$casinha-y: 150px;
$casinha-offset-x: -253px;
$casinha-offset-y: -150px;
$casinha-width: 17px;
$casinha-height: 12px;
$casinha-total-width: 344px;
$casinha-total-height: 282px;
$casinha-image: './img/sprite.png';
$casinha: (253px, 150px, -253px, -150px, 17px, 12px, 344px, 282px, './img/sprite.png', 'casinha', );
$contraste-escuro-name: 'contraste-escuro';
$contraste-escuro-x: 118px;
$contraste-escuro-y: 90px;
$contraste-escuro-offset-x: -118px;
$contraste-escuro-offset-y: -90px;
$contraste-escuro-width: 14px;
$contraste-escuro-height: 15px;
$contraste-escuro-total-width: 344px;
$contraste-escuro-total-height: 282px;
$contraste-escuro-image: './img/sprite.png';
$contraste-escuro: (118px, 90px, -118px, -90px, 14px, 15px, 344px, 282px, './img/sprite.png', 'contraste-escuro', );
$contraste-name: 'contraste';
$contraste-x: 222px;
$contraste-y: 150px;
$contraste-offset-x: -222px;
$contraste-offset-y: -150px;
$contraste-width: 14px;
$contraste-height: 15px;
$contraste-total-width: 344px;
$contraste-total-height: 282px;
$contraste-image: './img/sprite.png';
$contraste: (222px, 150px, -222px, -150px, 14px, 15px, 344px, 282px, './img/sprite.png', 'contraste', );
$filtro-audio-name: 'filtro-audio';
$filtro-audio-x: 134px;
$filtro-audio-y: 0px;
$filtro-audio-offset-x: -134px;
$filtro-audio-offset-y: 0px;
$filtro-audio-width: 210px;
$filtro-audio-height: 21px;
$filtro-audio-total-width: 344px;
$filtro-audio-total-height: 282px;
$filtro-audio-image: './img/sprite.png';
$filtro-audio: (134px, 0px, -134px, 0px, 210px, 21px, 344px, 282px, './img/sprite.png', 'filtro-audio', );
$filtro-busca-name: 'filtro-busca';
$filtro-busca-x: 203px;
$filtro-busca-y: 150px;
$filtro-busca-offset-x: -203px;
$filtro-busca-offset-y: -150px;
$filtro-busca-width: 19px;
$filtro-busca-height: 19px;
$filtro-busca-total-width: 344px;
$filtro-busca-total-height: 282px;
$filtro-busca-image: './img/sprite.png';
$filtro-busca: (203px, 150px, -203px, -150px, 19px, 19px, 344px, 282px, './img/sprite.png', 'filtro-busca', );
$filtro-imagem-name: 'filtro-imagem';
$filtro-imagem-x: 134px;
$filtro-imagem-y: 21px;
$filtro-imagem-offset-x: -134px;
$filtro-imagem-offset-y: -21px;
$filtro-imagem-width: 210px;
$filtro-imagem-height: 21px;
$filtro-imagem-total-width: 344px;
$filtro-imagem-total-height: 282px;
$filtro-imagem-image: './img/sprite.png';
$filtro-imagem: (134px, 21px, -134px, -21px, 210px, 21px, 344px, 282px, './img/sprite.png', 'filtro-imagem', );
$filtro-infografico-name: 'filtro-infografico';
$filtro-infografico-x: 134px;
$filtro-infografico-y: 42px;
$filtro-infografico-offset-x: -134px;
$filtro-infografico-offset-y: -42px;
$filtro-infografico-width: 210px;
$filtro-infografico-height: 21px;
$filtro-infografico-total-width: 344px;
$filtro-infografico-total-height: 282px;
$filtro-infografico-image: './img/sprite.png';
$filtro-infografico: (134px, 42px, -134px, -42px, 210px, 21px, 344px, 282px, './img/sprite.png', 'filtro-infografico', );
$filtro-video-name: 'filtro-video';
$filtro-video-x: 134px;
$filtro-video-y: 63px;
$filtro-video-offset-x: -134px;
$filtro-video-offset-y: -63px;
$filtro-video-width: 210px;
$filtro-video-height: 21px;
$filtro-video-total-width: 344px;
$filtro-video-total-height: 282px;
$filtro-video-image: './img/sprite.png';
$filtro-video: (134px, 63px, -134px, -63px, 210px, 21px, 344px, 282px, './img/sprite.png', 'filtro-video', );
$gg-name: 'gg';
$gg-x: 0px;
$gg-y: 0px;
$gg-offset-x: 0px;
$gg-offset-y: 0px;
$gg-width: 134px;
$gg-height: 55px;
$gg-total-width: 344px;
$gg-total-height: 282px;
$gg-image: './img/sprite.png';
$gg: (0px, 0px, 0px, 0px, 134px, 55px, 344px, 282px, './img/sprite.png', 'gg', );
$ico-audio-name: 'ico-audio';
$ico-audio-x: 40px;
$ico-audio-y: 110px;
$ico-audio-offset-x: -40px;
$ico-audio-offset-y: -110px;
$ico-audio-width: 40px;
$ico-audio-height: 40px;
$ico-audio-total-width: 344px;
$ico-audio-total-height: 282px;
$ico-audio-image: './img/sprite.png';
$ico-audio: (40px, 110px, -40px, -110px, 40px, 40px, 344px, 282px, './img/sprite.png', 'ico-audio', );
$ico-filtrar-fechado-name: 'ico-filtrar-fechado';
$ico-filtrar-fechado-x: 98px;
$ico-filtrar-fechado-y: 90px;
$ico-filtrar-fechado-offset-x: -98px;
$ico-filtrar-fechado-offset-y: -90px;
$ico-filtrar-fechado-width: 20px;
$ico-filtrar-fechado-height: 20px;
$ico-filtrar-fechado-total-width: 344px;
$ico-filtrar-fechado-total-height: 282px;
$ico-filtrar-fechado-image: './img/sprite.png';
$ico-filtrar-fechado: (98px, 90px, -98px, -90px, 20px, 20px, 344px, 282px, './img/sprite.png', 'ico-filtrar-fechado', );
$ico-filtrar-name: 'ico-filtrar';
$ico-filtrar-x: 318px;
$ico-filtrar-y: 84px;
$ico-filtrar-offset-x: -318px;
$ico-filtrar-offset-y: -84px;
$ico-filtrar-width: 20px;
$ico-filtrar-height: 20px;
$ico-filtrar-total-width: 344px;
$ico-filtrar-total-height: 282px;
$ico-filtrar-image: './img/sprite.png';
$ico-filtrar: (318px, 84px, -318px, -84px, 20px, 20px, 344px, 282px, './img/sprite.png', 'ico-filtrar', );
$ico-imagem-name: 'ico-imagem';
$ico-imagem-x: 0px;
$ico-imagem-y: 110px;
$ico-imagem-offset-x: 0px;
$ico-imagem-offset-y: -110px;
$ico-imagem-width: 40px;
$ico-imagem-height: 40px;
$ico-imagem-total-width: 344px;
$ico-imagem-total-height: 282px;
$ico-imagem-image: './img/sprite.png';
$ico-imagem: (0px, 110px, 0px, -110px, 40px, 40px, 344px, 282px, './img/sprite.png', 'ico-imagem', );
$ico-infografico-name: 'ico-infografico';
$ico-infografico-x: 120px;
$ico-infografico-y: 110px;
$ico-infografico-offset-x: -120px;
$ico-infografico-offset-y: -110px;
$ico-infografico-width: 40px;
$ico-infografico-height: 40px;
$ico-infografico-total-width: 344px;
$ico-infografico-total-height: 282px;
$ico-infografico-image: './img/sprite.png';
$ico-infografico: (120px, 110px, -120px, -110px, 40px, 40px, 344px, 282px, './img/sprite.png', 'ico-infografico', );
$ico-video-name: 'ico-video';
$ico-video-x: 80px;
$ico-video-y: 110px;
$ico-video-offset-x: -80px;
$ico-video-offset-y: -110px;
$ico-video-width: 40px;
$ico-video-height: 40px;
$ico-video-total-width: 344px;
$ico-video-total-height: 282px;
$ico-video-image: './img/sprite.png';
$ico-video: (80px, 110px, -80px, -110px, 40px, 40px, 344px, 282px, './img/sprite.png', 'ico-video', );
$icon-horarios-name: 'icon-horarios';
$icon-horarios-x: 0px;
$icon-horarios-y: 243px;
$icon-horarios-offset-x: 0px;
$icon-horarios-offset-y: -243px;
$icon-horarios-width: 14px;
$icon-horarios-height: 39px;
$icon-horarios-total-width: 344px;
$icon-horarios-total-height: 282px;
$icon-horarios-image: './img/sprite.png';
$icon-horarios: (0px, 243px, 0px, -243px, 14px, 39px, 344px, 282px, './img/sprite.png', 'icon-horarios', );
$image-download-name: 'image-download';
$image-download-x: 261px;
$image-download-y: 214px;
$image-download-offset-x: -261px;
$image-download-offset-y: -214px;
$image-download-width: 27px;
$image-download-height: 29px;
$image-download-total-width: 344px;
$image-download-total-height: 282px;
$image-download-image: './img/sprite.png';
$image-download: (261px, 214px, -261px, -214px, 27px, 29px, 344px, 282px, './img/sprite.png', 'image-download', );
$image-zoom-name: 'image-zoom';
$image-zoom-x: 116px;
$image-zoom-y: 185px;
$image-zoom-offset-x: -116px;
$image-zoom-offset-y: -185px;
$image-zoom-width: 29px;
$image-zoom-height: 29px;
$image-zoom-total-width: 344px;
$image-zoom-total-height: 282px;
$image-zoom-image: './img/sprite.png';
$image-zoom: (116px, 185px, -116px, -185px, 29px, 29px, 344px, 282px, './img/sprite.png', 'image-zoom', );
$nav-claro-name: 'nav-claro';
$nav-claro-x: 162px;
$nav-claro-y: 84px;
$nav-claro-offset-x: -162px;
$nav-claro-offset-y: -84px;
$nav-claro-width: 28px;
$nav-claro-height: 25px;
$nav-claro-total-width: 344px;
$nav-claro-total-height: 282px;
$nav-claro-image: './img/sprite.png';
$nav-claro: (162px, 84px, -162px, -84px, 28px, 25px, 344px, 282px, './img/sprite.png', 'nav-claro', );
$nav-escuro-name: 'nav-escuro';
$nav-escuro-x: 190px;
$nav-escuro-y: 84px;
$nav-escuro-offset-x: -190px;
$nav-escuro-offset-y: -84px;
$nav-escuro-width: 28px;
$nav-escuro-height: 25px;
$nav-escuro-total-width: 344px;
$nav-escuro-total-height: 282px;
$nav-escuro-image: './img/sprite.png';
$nav-escuro: (190px, 84px, -190px, -84px, 28px, 25px, 344px, 282px, './img/sprite.png', 'nav-escuro', );
$nav-name: 'nav';
$nav-x: 134px;
$nav-y: 84px;
$nav-offset-x: -134px;
$nav-offset-y: -84px;
$nav-width: 28px;
$nav-height: 25px;
$nav-total-width: 344px;
$nav-total-height: 282px;
$nav-image: './img/sprite.png';
$nav: (134px, 84px, -134px, -84px, 28px, 25px, 344px, 282px, './img/sprite.png', 'nav', );
$rede-facebook-branco-name: 'rede-facebook-branco';
$rede-facebook-branco-x: 153px;
$rede-facebook-branco-y: 150px;
$rede-facebook-branco-offset-x: -153px;
$rede-facebook-branco-offset-y: -150px;
$rede-facebook-branco-width: 25px;
$rede-facebook-branco-height: 28px;
$rede-facebook-branco-total-width: 344px;
$rede-facebook-branco-total-height: 282px;
$rede-facebook-branco-image: './img/sprite.png';
$rede-facebook-branco: (153px, 150px, -153px, -150px, 25px, 28px, 344px, 282px, './img/sprite.png', 'rede-facebook-branco', );
$rede-facebook-topo-name: 'rede-facebook-topo';
$rede-facebook-topo-x: 178px;
$rede-facebook-topo-y: 150px;
$rede-facebook-topo-offset-x: -178px;
$rede-facebook-topo-offset-y: -150px;
$rede-facebook-topo-width: 25px;
$rede-facebook-topo-height: 28px;
$rede-facebook-topo-total-width: 344px;
$rede-facebook-topo-total-height: 282px;
$rede-facebook-topo-image: './img/sprite.png';
$rede-facebook-topo: (178px, 150px, -178px, -150px, 25px, 28px, 344px, 282px, './img/sprite.png', 'rede-facebook-topo', );
$rede-facebook-name: 'rede-facebook';
$rede-facebook-x: 98px;
$rede-facebook-y: 55px;
$rede-facebook-offset-x: -98px;
$rede-facebook-offset-y: -55px;
$rede-facebook-width: 35px;
$rede-facebook-height: 35px;
$rede-facebook-total-width: 344px;
$rede-facebook-total-height: 282px;
$rede-facebook-image: './img/sprite.png';
$rede-facebook: (98px, 55px, -98px, -55px, 35px, 35px, 344px, 282px, './img/sprite.png', 'rede-facebook', );
$rede-flickr-branco-name: 'rede-flickr-branco';
$rede-flickr-branco-x: 203px;
$rede-flickr-branco-y: 185px;
$rede-flickr-branco-offset-x: -203px;
$rede-flickr-branco-offset-y: -185px;
$rede-flickr-branco-width: 29px;
$rede-flickr-branco-height: 29px;
$rede-flickr-branco-total-width: 344px;
$rede-flickr-branco-total-height: 282px;
$rede-flickr-branco-image: './img/sprite.png';
$rede-flickr-branco: (203px, 185px, -203px, -185px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-flickr-branco', );
$rede-flickr-topo-name: 'rede-flickr-topo';
$rede-flickr-topo-x: 232px;
$rede-flickr-topo-y: 185px;
$rede-flickr-topo-offset-x: -232px;
$rede-flickr-topo-offset-y: -185px;
$rede-flickr-topo-width: 29px;
$rede-flickr-topo-height: 29px;
$rede-flickr-topo-total-width: 344px;
$rede-flickr-topo-total-height: 282px;
$rede-flickr-topo-image: './img/sprite.png';
$rede-flickr-topo: (232px, 185px, -232px, -185px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-flickr-topo', );
$rede-flickr-name: 'rede-flickr';
$rede-flickr-x: 195px;
$rede-flickr-y: 110px;
$rede-flickr-offset-x: -195px;
$rede-flickr-offset-y: -110px;
$rede-flickr-width: 35px;
$rede-flickr-height: 35px;
$rede-flickr-total-width: 344px;
$rede-flickr-total-height: 282px;
$rede-flickr-image: './img/sprite.png';
$rede-flickr: (195px, 110px, -195px, -110px, 35px, 35px, 344px, 282px, './img/sprite.png', 'rede-flickr', );
$rede-googleplus-branco-name: 'rede-googleplus-branco';
$rede-googleplus-branco-x: 0px;
$rede-googleplus-branco-y: 185px;
$rede-googleplus-branco-offset-x: 0px;
$rede-googleplus-branco-offset-y: -185px;
$rede-googleplus-branco-width: 29px;
$rede-googleplus-branco-height: 29px;
$rede-googleplus-branco-total-width: 344px;
$rede-googleplus-branco-total-height: 282px;
$rede-googleplus-branco-image: './img/sprite.png';
$rede-googleplus-branco: (0px, 185px, 0px, -185px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-googleplus-branco', );
$rede-googleplus-topo-name: 'rede-googleplus-topo';
$rede-googleplus-topo-x: 0px;
$rede-googleplus-topo-y: 214px;
$rede-googleplus-topo-offset-x: 0px;
$rede-googleplus-topo-offset-y: -214px;
$rede-googleplus-topo-width: 29px;
$rede-googleplus-topo-height: 29px;
$rede-googleplus-topo-total-width: 344px;
$rede-googleplus-topo-total-height: 282px;
$rede-googleplus-topo-image: './img/sprite.png';
$rede-googleplus-topo: (0px, 214px, 0px, -214px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-googleplus-topo', );
$rede-googleplus-name: 'rede-googleplus';
$rede-googleplus-x: 160px;
$rede-googleplus-y: 110px;
$rede-googleplus-offset-x: -160px;
$rede-googleplus-offset-y: -110px;
$rede-googleplus-width: 35px;
$rede-googleplus-height: 35px;
$rede-googleplus-total-width: 344px;
$rede-googleplus-total-height: 282px;
$rede-googleplus-image: './img/sprite.png';
$rede-googleplus: (160px, 110px, -160px, -110px, 35px, 35px, 344px, 282px, './img/sprite.png', 'rede-googleplus', );
$rede-instagram-branco-name: 'rede-instagram-branco';
$rede-instagram-branco-x: 58px;
$rede-instagram-branco-y: 214px;
$rede-instagram-branco-offset-x: -58px;
$rede-instagram-branco-offset-y: -214px;
$rede-instagram-branco-width: 29px;
$rede-instagram-branco-height: 29px;
$rede-instagram-branco-total-width: 344px;
$rede-instagram-branco-total-height: 282px;
$rede-instagram-branco-image: './img/sprite.png';
$rede-instagram-branco: (58px, 214px, -58px, -214px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-instagram-branco', );
$rede-instagram-topo-name: 'rede-instagram-topo';
$rede-instagram-topo-x: 290px;
$rede-instagram-topo-y: 185px;
$rede-instagram-topo-offset-x: -290px;
$rede-instagram-topo-offset-y: -185px;
$rede-instagram-topo-width: 29px;
$rede-instagram-topo-height: 29px;
$rede-instagram-topo-total-width: 344px;
$rede-instagram-topo-total-height: 282px;
$rede-instagram-topo-image: './img/sprite.png';
$rede-instagram-topo: (290px, 185px, -290px, -185px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-instagram-topo', );
$rede-instagram-name: 'rede-instagram';
$rede-instagram-x: 0px;
$rede-instagram-y: 150px;
$rede-instagram-offset-x: 0px;
$rede-instagram-offset-y: -150px;
$rede-instagram-width: 35px;
$rede-instagram-height: 35px;
$rede-instagram-total-width: 344px;
$rede-instagram-total-height: 282px;
$rede-instagram-image: './img/sprite.png';
$rede-instagram: (0px, 150px, 0px, -150px, 35px, 35px, 344px, 282px, './img/sprite.png', 'rede-instagram', );
$rede-linkedin-name: 'rede-linkedin';
$rede-linkedin-x: 145px;
$rede-linkedin-y: 214px;
$rede-linkedin-offset-x: -145px;
$rede-linkedin-offset-y: -214px;
$rede-linkedin-width: 29px;
$rede-linkedin-height: 29px;
$rede-linkedin-total-width: 344px;
$rede-linkedin-total-height: 282px;
$rede-linkedin-image: './img/sprite.png';
$rede-linkedin: (145px, 214px, -145px, -214px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-linkedin', );
$rede-rss-branco-name: 'rede-rss-branco';
$rede-rss-branco-x: 174px;
$rede-rss-branco-y: 214px;
$rede-rss-branco-offset-x: -174px;
$rede-rss-branco-offset-y: -214px;
$rede-rss-branco-width: 29px;
$rede-rss-branco-height: 29px;
$rede-rss-branco-total-width: 344px;
$rede-rss-branco-total-height: 282px;
$rede-rss-branco-image: './img/sprite.png';
$rede-rss-branco: (174px, 214px, -174px, -214px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-rss-branco', );
$rede-rss-topo-name: 'rede-rss-topo';
$rede-rss-topo-x: 203px;
$rede-rss-topo-y: 214px;
$rede-rss-topo-offset-x: -203px;
$rede-rss-topo-offset-y: -214px;
$rede-rss-topo-width: 29px;
$rede-rss-topo-height: 29px;
$rede-rss-topo-total-width: 344px;
$rede-rss-topo-total-height: 282px;
$rede-rss-topo-image: './img/sprite.png';
$rede-rss-topo: (203px, 214px, -203px, -214px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-rss-topo', );
$rede-rss-name: 'rede-rss';
$rede-rss-x: 87px;
$rede-rss-y: 185px;
$rede-rss-offset-x: -87px;
$rede-rss-offset-y: -185px;
$rede-rss-width: 29px;
$rede-rss-height: 29px;
$rede-rss-total-width: 344px;
$rede-rss-total-height: 282px;
$rede-rss-image: './img/sprite.png';
$rede-rss: (87px, 185px, -87px, -185px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-rss', );
$rede-slideshare-branco-name: 'rede-slideshare-branco';
$rede-slideshare-branco-x: 58px;
$rede-slideshare-branco-y: 185px;
$rede-slideshare-branco-offset-x: -58px;
$rede-slideshare-branco-offset-y: -185px;
$rede-slideshare-branco-width: 29px;
$rede-slideshare-branco-height: 29px;
$rede-slideshare-branco-total-width: 344px;
$rede-slideshare-branco-total-height: 282px;
$rede-slideshare-branco-image: './img/sprite.png';
$rede-slideshare-branco: (58px, 185px, -58px, -185px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-slideshare-branco', );
$rede-slideshare-topo-name: 'rede-slideshare-topo';
$rede-slideshare-topo-x: 29px;
$rede-slideshare-topo-y: 185px;
$rede-slideshare-topo-offset-x: -29px;
$rede-slideshare-topo-offset-y: -185px;
$rede-slideshare-topo-width: 29px;
$rede-slideshare-topo-height: 29px;
$rede-slideshare-topo-total-width: 344px;
$rede-slideshare-topo-total-height: 282px;
$rede-slideshare-topo-image: './img/sprite.png';
$rede-slideshare-topo: (29px, 185px, -29px, -185px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-slideshare-topo', );
$rede-slideshare-name: 'rede-slideshare';
$rede-slideshare-x: 232px;
$rede-slideshare-y: 214px;
$rede-slideshare-offset-x: -232px;
$rede-slideshare-offset-y: -214px;
$rede-slideshare-width: 29px;
$rede-slideshare-height: 29px;
$rede-slideshare-total-width: 344px;
$rede-slideshare-total-height: 282px;
$rede-slideshare-image: './img/sprite.png';
$rede-slideshare: (232px, 214px, -232px, -214px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-slideshare', );
$rede-soundcloud-branco-name: 'rede-soundcloud-branco';
$rede-soundcloud-branco-x: 116px;
$rede-soundcloud-branco-y: 214px;
$rede-soundcloud-branco-offset-x: -116px;
$rede-soundcloud-branco-offset-y: -214px;
$rede-soundcloud-branco-width: 29px;
$rede-soundcloud-branco-height: 29px;
$rede-soundcloud-branco-total-width: 344px;
$rede-soundcloud-branco-total-height: 282px;
$rede-soundcloud-branco-image: './img/sprite.png';
$rede-soundcloud-branco: (116px, 214px, -116px, -214px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-soundcloud-branco', );
$rede-soundcloud-topo-name: 'rede-soundcloud-topo';
$rede-soundcloud-topo-x: 87px;
$rede-soundcloud-topo-y: 214px;
$rede-soundcloud-topo-offset-x: -87px;
$rede-soundcloud-topo-offset-y: -214px;
$rede-soundcloud-topo-width: 29px;
$rede-soundcloud-topo-height: 29px;
$rede-soundcloud-topo-total-width: 344px;
$rede-soundcloud-topo-total-height: 282px;
$rede-soundcloud-topo-image: './img/sprite.png';
$rede-soundcloud-topo: (87px, 214px, -87px, -214px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-soundcloud-topo', );
$rede-soundcloud-name: 'rede-soundcloud';
$rede-soundcloud-x: 300px;
$rede-soundcloud-y: 110px;
$rede-soundcloud-offset-x: -300px;
$rede-soundcloud-offset-y: -110px;
$rede-soundcloud-width: 35px;
$rede-soundcloud-height: 35px;
$rede-soundcloud-total-width: 344px;
$rede-soundcloud-total-height: 282px;
$rede-soundcloud-image: './img/sprite.png';
$rede-soundcloud: (300px, 110px, -300px, -110px, 35px, 35px, 344px, 282px, './img/sprite.png', 'rede-soundcloud', );
$rede-tumblr-branco-name: 'rede-tumblr-branco';
$rede-tumblr-branco-x: 29px;
$rede-tumblr-branco-y: 214px;
$rede-tumblr-branco-offset-x: -29px;
$rede-tumblr-branco-offset-y: -214px;
$rede-tumblr-branco-width: 29px;
$rede-tumblr-branco-height: 29px;
$rede-tumblr-branco-total-width: 344px;
$rede-tumblr-branco-total-height: 282px;
$rede-tumblr-branco-image: './img/sprite.png';
$rede-tumblr-branco: (29px, 214px, -29px, -214px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-tumblr-branco', );
$rede-tumblr-topo-name: 'rede-tumblr-topo';
$rede-tumblr-topo-x: 261px;
$rede-tumblr-topo-y: 185px;
$rede-tumblr-topo-offset-x: -261px;
$rede-tumblr-topo-offset-y: -185px;
$rede-tumblr-topo-width: 29px;
$rede-tumblr-topo-height: 29px;
$rede-tumblr-topo-total-width: 344px;
$rede-tumblr-topo-total-height: 282px;
$rede-tumblr-topo-image: './img/sprite.png';
$rede-tumblr-topo: (261px, 185px, -261px, -185px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-tumblr-topo', );
$rede-tumblr-name: 'rede-tumblr';
$rede-tumblr-x: 145px;
$rede-tumblr-y: 185px;
$rede-tumblr-offset-x: -145px;
$rede-tumblr-offset-y: -185px;
$rede-tumblr-width: 29px;
$rede-tumblr-height: 29px;
$rede-tumblr-total-width: 344px;
$rede-tumblr-total-height: 282px;
$rede-tumblr-image: './img/sprite.png';
$rede-tumblr: (145px, 185px, -145px, -185px, 29px, 29px, 344px, 282px, './img/sprite.png', 'rede-tumblr', );
$rede-twitter-branco-name: 'rede-twitter-branco';
$rede-twitter-branco-x: 99px;
$rede-twitter-branco-y: 150px;
$rede-twitter-branco-offset-x: -99px;
$rede-twitter-branco-offset-y: -150px;
$rede-twitter-branco-width: 27px;
$rede-twitter-branco-height: 28px;
$rede-twitter-branco-total-width: 344px;
$rede-twitter-branco-total-height: 282px;
$rede-twitter-branco-image: './img/sprite.png';
$rede-twitter-branco: (99px, 150px, -99px, -150px, 27px, 28px, 344px, 282px, './img/sprite.png', 'rede-twitter-branco', );
$rede-twitter-topo-name: 'rede-twitter-topo';
$rede-twitter-topo-x: 126px;
$rede-twitter-topo-y: 150px;
$rede-twitter-topo-offset-x: -126px;
$rede-twitter-topo-offset-y: -150px;
$rede-twitter-topo-width: 27px;
$rede-twitter-topo-height: 28px;
$rede-twitter-topo-total-width: 344px;
$rede-twitter-topo-total-height: 282px;
$rede-twitter-topo-image: './img/sprite.png';
$rede-twitter-topo: (126px, 150px, -126px, -150px, 27px, 28px, 344px, 282px, './img/sprite.png', 'rede-twitter-topo', );
$rede-twitter-name: 'rede-twitter';
$rede-twitter-x: 265px;
$rede-twitter-y: 110px;
$rede-twitter-offset-x: -265px;
$rede-twitter-offset-y: -110px;
$rede-twitter-width: 35px;
$rede-twitter-height: 35px;
$rede-twitter-total-width: 344px;
$rede-twitter-total-height: 282px;
$rede-twitter-image: './img/sprite.png';
$rede-twitter: (265px, 110px, -265px, -110px, 35px, 35px, 344px, 282px, './img/sprite.png', 'rede-twitter', );
$rede-youtube-branco-name: 'rede-youtube-branco';
$rede-youtube-branco-x: 35px;
$rede-youtube-branco-y: 150px;
$rede-youtube-branco-offset-x: -35px;
$rede-youtube-branco-offset-y: -150px;
$rede-youtube-branco-width: 32px;
$rede-youtube-branco-height: 28px;
$rede-youtube-branco-total-width: 344px;
$rede-youtube-branco-total-height: 282px;
$rede-youtube-branco-image: './img/sprite.png';
$rede-youtube-branco: (35px, 150px, -35px, -150px, 32px, 28px, 344px, 282px, './img/sprite.png', 'rede-youtube-branco', );
$rede-youtube-topo-name: 'rede-youtube-topo';
$rede-youtube-topo-x: 67px;
$rede-youtube-topo-y: 150px;
$rede-youtube-topo-offset-x: -67px;
$rede-youtube-topo-offset-y: -150px;
$rede-youtube-topo-width: 32px;
$rede-youtube-topo-height: 28px;
$rede-youtube-topo-total-width: 344px;
$rede-youtube-topo-total-height: 282px;
$rede-youtube-topo-image: './img/sprite.png';
$rede-youtube-topo: (67px, 150px, -67px, -150px, 32px, 28px, 344px, 282px, './img/sprite.png', 'rede-youtube-topo', );
$rede-youtube-name: 'rede-youtube';
$rede-youtube-x: 230px;
$rede-youtube-y: 110px;
$rede-youtube-offset-x: -230px;
$rede-youtube-offset-y: -110px;
$rede-youtube-width: 35px;
$rede-youtube-height: 35px;
$rede-youtube-total-width: 344px;
$rede-youtube-total-height: 282px;
$rede-youtube-image: './img/sprite.png';
$rede-youtube: (230px, 110px, -230px, -110px, 35px, 35px, 344px, 282px, './img/sprite.png', 'rede-youtube', );
$twitter-ic-name: 'twitter-ic';
$twitter-ic-x: 174px;
$twitter-ic-y: 185px;
$twitter-ic-offset-x: -174px;
$twitter-ic-offset-y: -185px;
$twitter-ic-width: 29px;
$twitter-ic-height: 29px;
$twitter-ic-total-width: 344px;
$twitter-ic-total-height: 282px;
$twitter-ic-image: './img/sprite.png';
$twitter-ic: (174px, 185px, -174px, -185px, 29px, 29px, 344px, 282px, './img/sprite.png', 'twitter-ic', );
$vlibras-escuro-name: 'vlibras-escuro';
$vlibras-escuro-x: 319px;
$vlibras-escuro-y: 185px;
$vlibras-escuro-offset-x: -319px;
$vlibras-escuro-offset-y: -185px;
$vlibras-escuro-width: 13px;
$vlibras-escuro-height: 14px;
$vlibras-escuro-total-width: 344px;
$vlibras-escuro-total-height: 282px;
$vlibras-escuro-image: './img/sprite.png';
$vlibras-escuro: (319px, 185px, -319px, -185px, 13px, 14px, 344px, 282px, './img/sprite.png', 'vlibras-escuro', );
$vlibras-name: 'vlibras';
$vlibras-x: 319px;
$vlibras-y: 199px;
$vlibras-offset-x: -319px;
$vlibras-offset-y: -199px;
$vlibras-width: 13px;
$vlibras-height: 14px;
$vlibras-total-width: 344px;
$vlibras-total-height: 282px;
$vlibras-image: './img/sprite.png';
$vlibras: (319px, 199px, -319px, -199px, 13px, 14px, 344px, 282px, './img/sprite.png', 'vlibras', );
$spritesheet-width: 344px;
$spritesheet-height: 282px;
$spritesheet-image: './img/sprite.png';
$spritesheet-sprites: ($agenda-location, $agenda-timestamp, $ai, $botao-busca-black, $botao-busca, $botao-com-icone, $busca-escuro, $busca, $casinha-branca, $casinha, $contraste-escuro, $contraste, $filtro-audio, $filtro-busca, $filtro-imagem, $filtro-infografico, $filtro-video, $gg, $ico-audio, $ico-filtrar-fechado, $ico-filtrar, $ico-imagem, $ico-infografico, $ico-video, $icon-horarios, $image-download, $image-zoom, $nav-claro, $nav-escuro, $nav, $rede-facebook-branco, $rede-facebook-topo, $rede-facebook, $rede-flickr-branco, $rede-flickr-topo, $rede-flickr, $rede-googleplus-branco, $rede-googleplus-topo, $rede-googleplus, $rede-instagram-branco, $rede-instagram-topo, $rede-instagram, $rede-linkedin, $rede-rss-branco, $rede-rss-topo, $rede-rss, $rede-slideshare-branco, $rede-slideshare-topo, $rede-slideshare, $rede-soundcloud-branco, $rede-soundcloud-topo, $rede-soundcloud, $rede-tumblr-branco, $rede-tumblr-topo, $rede-tumblr, $rede-twitter-branco, $rede-twitter-topo, $rede-twitter, $rede-youtube-branco, $rede-youtube-topo, $rede-youtube, $twitter-ic, $vlibras-escuro, $vlibras, );
$spritesheet: (344px, 282px, './img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
