@charset 'UTF-8';

/********** Variaveis principais **********/

$bg-color: #fff;
$main-font: 'Raleway', sans-serif;
$main-fontsize: 1em;
$main-width: 100%;
$main-color: #1fc86a;
$coluna-1: 300px;
$coluna-2: 300px;
$grid-gutter: 10px;
$content-width: 1140px;

$top-color: #fbfbfb;
$top-text: #000;
$top-link: #000;

$nav-color: #fff;
$nav-link: #000;

$txt-color: #282828;
$link-color: #1fc86a;
$header-color: #333333;
$description-color: #a6a6a6;
$byline-color: #a6a6a6;

$tile-link: #000;

$footer-color: #f1f1f1;
$footer-text: #272727;
$footer-link: #272727;


/********** Estilos Básicos do IDG **********/

@import '../scss/fonts';
@import 'sprite';
@import '../scss/grid';
@import '../scss/basic';
@import '../scss/content';
@import '../scss/header';
@import '../scss/albuns';
@import '../scss/tiles';
@import '../scss/portlets';
@import '../scss/search';
@import '../scss/footer';
@import '../scss/responsive';
@import '../scss/contrast';

/********** Estilos para o Portal MDH **********/

@import '../scss/timeline';
@import '../scss/search_library';
@import '../scss/news';