/* largura da area de texto de alguns tipos de conteúdo */
.portaltype-document,
.portaltype-collective-nitf-content {
  #main {
    width: 100% !important;
  }
  h1.documentFirstHeading,
  #viewlet-below-content-title,
  .documentDescription,
  .documentByLine {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  #content-core p,
  #content-core h2,
  #content-core h3,
  #content-core ul,
  #content-core ol,
  #content-core dl,
  #content-core table {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .image-right {
    margin-right: -120px;
  }
  .image-left {
    margin-left: -120px;
  }
  .image-inline {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    dd {
      max-width: 100%;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .invisible-left {
    float: left;
    width: auto !important;
    margin-left: 10vh !important;
  }
  .invisible-right {
    float: right;
    width: auto !important;
    margin-right: 10vh !important;
  }
}


/* ordem dos campos de conteudo */
#content, #viewlet-below-content-title, article {
    
}
p.nitfSubtitle {order: -5;}
h1.documentFirstHeading {order: -5;}
#content .documentDescription, #content #description {order: -4;}


/* estilos dos campos de conteúdo */
#parent-fieldname-text::first-letter, 
div[property="rnews:articleBody"]::first-letter {
  color: $main-color !important;
  font-size: 5rem;
  display: block;
  font-weight: bold;
  float: left;
  line-height: 4rem;
  margin-right: 10px;
}

h1.documentFirstHeading {
  font-size: 3rem;
  text-align: center;

  margin-top: 0;
  margin-bottom: .6em;
  
}
p.section {
  display: none;
}

p.nitfSubtitle {
  color: $link-color;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
#content .documentDescription, #content #description {
  color: $description-color;
  font: normal 1.125rem $main-font;
  text-align: center;
  margin: 0 auto 2rem auto;
}

.documentByLine {
  padding: 25px 0;
  margin: 0 0 2rem 0;
  color: $byline-color;
  font-family: $main-font !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
#viewlet-social-like.vertical {
  float: left;
  position: absolute;
  margin-top: 110px;
}
#media {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}

#content p {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

#content .pullquote, .portletStaticText .pullquote {
  margin: .5em 1em 0.5em 10vw;
  float: left;
  width: 30%;
  clear: left;
  font-size: 1.5rem;
  letter-spacing: -0.08em !important;
  border-top: 3px solid $main-color;
  padding: 2rem 0;
}
dd.image-caption {
  text-align: center;
  padding: 0;
  margin: 0 !important;
}

/* imagem de pagina no topo */
.portaltype-document .linha-destaquetopo {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  height: 680px;
  width: 100% !important;
  display: flex;
  flex-flow: column;
  padding-top: 300px;
  z-index: -1;

  img {
    height: 680px;
    width: 100%;
    object-fit: cover;
    position: absolute !important;
    top: 0;
    z-index: -2;
  }
  h1, h2, h3, p {
    width: 1140px !important;
    margin: 0 auto 1rem auto;
    color: #fff !important;
  }
  h1, h2, h3 {
    a {
      color: #fff !important;
    }
  }
}

.portaltype-document  #portal-breadcrumbs.inverter {
  margin-bottom: 500px !important;
}


/* estilos de texto */
.box-recuado {
  margin: 1rem -90px;
}

#viewlet-below-content {
  margin: 0 90px;
  padding: 20px 0;
  border-top: solid 0.5px #ccc;
  position: relative;
}

#category {
  font-size: 100%;
  text-align: left;
  padding-bottom: 20px;

  a.link-category, a.link-category:hover {
    background: transparent;
    border: solid 2px #222;
    padding: 0.5em 0.8em;
    color: #222;
    border-radius: 1.2em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
  }
}

.voltar-topo {
    width: 20%;
    float: right;
    text-align: right;
    margin-top:7px;

    a {
      color: #222;
      text-transform: uppercase;
      font-size: .8rem;
      font-weight: 700;
      margin-top: 1rem;
      display: inline-block;
    }
}
.voltar-topo a:after {
  content: "\005e";
  background: #222;
  color: #fff;
  border-radius: 50%;
  padding: 11px 10px 8px 10px;
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 1.4em;
  margin: -10px 0 0 10px;
  font-weight: bold;
}

.texto-copyright {
  border-top: solid 0.5px #ccc;
  border-bottom: solid 0.5px #ccc;
  padding: 20px 0;
}


/* embedder videos */
.top_embedded iframe {
    height: 90vh;
    width: 100%;
}

/* relacionados */

#relatedItemBox {
  @extend .ct-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 90px;

  dt {
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 900;
    padding: 90px 0 50px 0;
  }
  dd {
    width: 31%;
  }
  p {
    color: $link-color;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
  }
  a, a:hover {
    font-size: 1.125rem;
    font-weight: bold;
    color: $header-color !important;
    line-height: 1.39;
  }
  img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    float: left;
    margin-right: 15px;
  }
}

/* social like */
#viewlet-social-like {
  position: absolute;

  display: block;
  float: none;
  margin: 0px 0px 0px 80px;

  width: 100px;

  &.vertical {
    min-height: 7em !important;
    width: 73px;
    float: left;
    transform: translateX(-80px);
  }
  dl.image-right {
    margin-right: -10%;
  }
  dl.image-left {
    margin-left: -10%;
  }
  > div {
    cursor: pointer;
    position: relative;

    float: none;
    overflow: hidden;

    margin: 0;

    cursor: pointer;
    border: 1px solid #979797;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div::before {
    content: '';
    display: block;
  }
  > div:hover::before {
    filter: invert(100%);
  }
  > div > * {
    position: absolute !important;
    z-index: 1000;
    top: 0;
    left: 0;

    transform: scale(5);
    transform-origin: left top;

    opacity: 0;
  }
  .sociallike-network-facebook::before {
    @include sprite($rede-facebook-topo);
    filter: none;
  }
  .sociallike-network-facebook:hover {
    background: #3b5999;
  }
  .sociallike-network-twitter::before {
    @include sprite($rede-twitter-topo);
    filter: none;
  }
  .sociallike-network-twitter:hover {
    background: #55acee;
  }
  .sociallike-network-gplus::before {
    @include sprite($rede-googleplus-topo);
    filter: none;
  }
  .sociallike-network-gplus:hover {
    background: #dd4b39;
  }
  .sociallike-network-linkedin::before {
    @include sprite($rede-linkedin);
    filter: none;
  }
  .sociallike-network-linkedin:hover {
    background: #0077b5;
  }
}

/* colecao */
.portaltype-collection,
.template-filter-results {
  .subtitle {
    font-size: 0.875rem;
    color: #069cff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: inherit;
  }
  h2.tileHeadline {
    font-size: 1.375rem;
    a {
      color: #333333 !important;
    }
  }
  .tileItem {
    margin-bottom: 60px;
    .documentByLine {
      padding: 0;
      margin: 0;
      color: #a6a6a6;
      font-family: inherit !important;
      border: none;
      text-align: left;
    }
  }
  .tileImage img {
    float: right;
    margin: 0 1em 0.5em 1em;
  }
  .keywords a {
    border-radius: 20px;
    padding: 5px 10px;
    color: #333 !important;
    font-weight: bold;
    margin-right: 10px;
    border: 2px solid #333 !important;
  }
  #results article {
    margin-bottom: 40px;
  }
}

/* paginacao */
ul.paginacao {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 30px 0;

    li {
      display: inline-flex;
      margin: 5px;
      list-style: none;
    }
    li a {
      padding: 3px 10px;
      color: #333 !important;
    }
    li a.proximo, li a.anterior {
        font-weight: bold;
    }
    li span {
      padding: 3px 10px;
      background: #333;
      color: #fff;
      font-weight: bold;
    }
    li span.reticencias {
        background: transparent;
        color: #333;
    }
}

/* reportar erros */
a#error-reporting-toggle {
  font-weight: bold;
  float: right;
  text-transform: uppercase;
  font-size: .85rem;
  color: #333;
  margin-top: 22px;
}
a#error-reporting-toggle::after {
  content: "^";
  background: #222;
  color: #fff;
  border-radius: 50%;
  padding: 3px 5px 5px 5px;
  display: block;
  float: right;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 1.4em;
  margin: -3px 0 0 10px;
  font-weight: 700;
  transform: rotate(180deg);
}
a#error-reporting-toggle.open::after {
  transform: rotate(0deg);
}
#error-reporting {
  background-color: #f9f9f9;
  border: solid 1px #e5e5e5;
  clear: right;
  margin-top: 80px;

  h1.documentFirstHeading,
  .documentByLine {
    display: none !important;
  }

  #content {
    width: 60%;
    margin: 68px auto;
  }

  input[type="text"] {
    width: 100%;
    height: 30px;
  }

  h2 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px
  }

  .formControls {
    text-align: center;
  }

  .formControls input {
    height: 50px;
    border-radius: 30px;
    border: 0;
    padding: 10px 40px;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }

}