/* grid cover */
@media (min-width: 600px) {
  div.row {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
    float: none;
    margin-right: -$grid-gutter;
    margin-left: -$grid-gutter;
    margin-bottom: $grid-gutter;
    margin-top: $grid-gutter;
    width: inherit !important;
  }
  .column {
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
    box-sizing: border-box;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    display: inline-flex;
  }
  .col-md-16 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
}

/********** Main container **********/
#wrapper {
  width: $main-width;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 40px;
}
#main-content {
  flex: auto;
  max-width: 100%;
}

#content {
  margin: 0 0.25em;
}

#main {
  @extend .ct-width;
  display: flex; 
}
#column-one {
  width: $coluna-1;
  margin-right: $grid-gutter;
}
#column-two {
  width: $coluna-2;
  margin-left: $grid-gutter;
}

/* variacao das linhas */
.portaltype-collective-cover-content {
  #main {
    width: 100% !important;
  }
  div.row {
    width: 1176px !important; /* todo: utilizar variavel */
    margin: 10px auto;
  }
  #content {
    margin: 0;
  }
  #edit-foo, .layout, #sidefoo, .navfoo {
    @extend .ct-width;
    float: none;
  }
  #sidefoo.fixed {
    width: 100% !important;
  }
}

/* linhas */
.portaltype-collective-cover-content div.row.linha-destacada {
    width: 100% !important;
    justify-content: center;

    .column.col-md-12 {
        width: $content-width;
        flex-basis: auto;
        margin: 0 auto;
        flex-wrap: wrap;
        display: block;
    }
}
.cover-column {margin-left: 0 !important;}
[data-column-size="3"] {width: 25% !important;}
[data-column-size="4"] {width: 33.3333% !important;}
[data-column-size="5"] {width: 41.666% !important;}
[data-column-size="6"] {width: 50% !important;}
[data-column-size="7"] {width: 58.333% !important;}

.column {
    flex-wrap: wrap;
}