.tile img {
  max-width: 100%;
  height: auto;
}

/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    background-image: none;
  }
  * {
    max-width: 100%;
  }
  iframe, img {
    max-width: 100%;
    height: auto;
  }
  #main {
    display: block; 

    margin-top: 4em;
  }
  div.cell {
    left: 100%;

    float: none;

    width: 100% !important;
    margin-left: -100% !important;
  }
  #main-content,
  #column-one,
  #column-two {
    display: block;
    float: none;

    width: 100%;
  }
  header#main-header {
    padding: 0 20px;
  }
  .portaltype-document header.inverter,
  .portaltype-collective-nitf-content header.inverter {
    margin-bottom: 400px !important;
  }
  .header-wrapper {
    flex-wrap: wrap;
  }
  .header-accessibility {
    width: 100%;
    text-align: left;
    margin-left: 4px;
  }
  #main-navigation, #main-navigation .list-navigation, .rodape-navigation {
    flex-direction: column;
    margin: 0 10px;
  }
  ul.submenu {
    top: 8px;
  }
  .rodape-navigation ul.submenu {
    top: 8px;
    margin-bottom: 20px;
  }
  #portal-searchbox {
    legend {
      font-size: 1rem;
      max-width: 90%;
    }
    fieldset {
      padding: 0 10px 0 20px;
    }
    .searchField {
      width: 89%;
    }
  }
  .top-subjects {
    min-width: auto;
    li {
      display: block;
    }
    li a {
      border: none;
      padding: 5px;
      margin: 5px;
    }
  }
  .tile.box-branco,
  .tile.tile-default .cover-richtext-tile {
    padding: 20px;
    box-sizing: border-box;
  }
  .template-view #content .tile-em-alta a {
    white-space: normal;
  }
  .header-accessibility,
  .links-destaque {
    display: none;
  }
  .search-suggestions {
    flex-direction: column;
    max-width: 90%;
    div {
      width: 90% !important;
      padding: 0 20px;
    }
    .news-title, .services-title {
      padding: 0 !important;
    }
  }
  #portal-breadcrumbs {
    display: none;
  }
  .portaltype-collective-nitf-content article {
    padding: 0;
  }
  h1.documentFirstHeading {
    font-size: 2rem!important;
    line-height: 2.375rem;
  }
  #viewlet-below-content {
    margin: 0;
  }
  .voltar-topo {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
  #category {
    text-align: center;
  }
  .portaltype-sc-embedder {
    background: #fff;

    article {
      padding: 0;
    }
  }
  .top_embedded iframe {
    height: 50vh;
  }
  .section-fale-conosco.portaltype-formfolder .pfg-form {
    width: 100%;
  }
  .section-fale-conosco.portaltype-formfolder div[id^=parent-fieldname-formEpilogue] {
    width: 100%;
  }
  .lista-blocos .list-item {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .brasil-carousel-tile .swiper-slide, .brasil-carousel-tile .carousel-item {
    display: block;
  }
  .brasil-carousel-tile .carousel-item {
    width: 100%;
  }
  .template-centrais-de-conteudo {
    background: #fff;
  }
  .template-centrais-de-conteudo form fieldset input[type=text] {
    width: 80%;
  }
  .template-centrais-de-conteudo form fieldset {
    border: 1px solid #ccc!important;
    border-bottom: 1px solid #ccc!important;
  }
  #results-foo .actionMenuHeader {
    width: 100%;
    float: none;
    border-left: 0;
    margin-top: 0;
  }
  #results-foo #filters {
    flex-flow: column;
  }
  #results-foo {
    border: 0;
  }
  #results ul:first-child {
    flex-flow: column;

    li {
      z-index: 0;
    }
  }
  .paginacao li {
    font-size: 10px;
  }
  .portaltype-collective-cover-content.template-view div.row.linha-destaquetopo h1, .portaltype-collective-cover-content.template-view div.row.linha-destaquetopo h2, .portaltype-collective-cover-content.template-view div.row.linha-destaquetopo h3, .portaltype-collective-cover-content.template-view div.row.linha-destaquetopo p {
    width: 100%;
    padding: 20px;
  }
  .portaltype-collective-cover-content.template-view div.row.linha-destaquetopo img {
    height: 510px;
  }
  .portaltype-collective-cover-content.template-view div.row.linha-destaquetopo .tile-content {
    height: 150px;
  }
  .portaltype-collective-nitf-content #content-core p, .portaltype-document #content-core p {
    padding: 0 20px;
    box-sizing: border-box;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  div.cell {
    float: none;

    width: 100% !important;
    margin-left: -100% !important;
  }
}
