#content .tile {
	a:link, a:visited {
    color: $tile-link;
	}
}
.tile {
	width: 100%;

	.tile-section {
	  color: $main-color;
	  font-weight: bold;
	  margin-bottom: 0 !important;
	  text-transform: uppercase;
	}
	h1 {
	  font-size: 2rem;
	  line-height: 1.3em;
	}
	h2 {
	  font-size: 1.375rem;
	  line-height: 1.3em;
	}
	h3 {
	  font-size: 1.125rem;
	  line-height: 1.3em;
	}
    .tile-content {
        width: 100%;
    }
}

.template-compose .tile-container {
    width: 100%;
}
#contentchooser-content-show-button {
    top: 50px;
    right: 50px;
    position: fixed;
}

.tile-subtitle {
    color: #1fc86a;
    font-size: 0.875rem !important;
    font-weight: bold;
    margin-bottom: 0 !important;
}
p.tile-description {
    line-height: 1.875rem !important;
}

/* tile de titulo */
.tile .outstanding-header {
    width: 100%;
    text-align: center;
    padding: 30px 0 10px 0;

    h2 {
        font-size: 2.25rem;
        font-weight: 900 !important;
        color: #333333;
    }
}
.tile a.outstanding-link {
    right: auto;
    display: inline-block;
    float: none;
    border-radius: 30px;
    border: solid 2px #222222 !important;
    text-transform: uppercase;
    padding: 15px 40px;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold !important;
}
#content a.outstanding-link:hover {
	background: #1fc86a;
	border-color: #1fc86a !important;
	color: #fff !important;
}

.tile {
    display: flex;
    width: 100%;
    margin-bottom: 12px;
}

/* header com fio separador */
.tile.fio-separador {
    margin-bottom: 2.4em;
    .outstanding-header {
        border-top: 1px solid #ddd;
    }
}

/* lista-blocos */

.lista-blocos .cover-collection-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    .tile-header {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        font-size: 36px;
        font-weight: 900;
    }
    .collection-item {
        width: 22%;
    }
    .tile-footer {
        width: 100%;
        text-align: center;
    }
}

/* tile de lista fundo laranja */
.lista-blocos-laranja .tile-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.lista-blocos-laranja .tile-header {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin:20px 0 30px 0;
    border-bottom: 2px solid #e1e1e1;
    position: relative;
}
.lista-blocos-laranja .tile-header h2 {
    position: absolute;
    background: #f9f9f9;
    padding: 0 20px;
    display: inline-flex;
    top: -10px;
    text-transform: uppercase;
    font-weight: normal !important;
    font-size: 1rem;
    color: #333;
}
.linha-destacada .lista-blocos .tile-header h2 {
    background: #f7f7f7 !important;
}
.lista-blocos-laranja .list-item {
    width: 20%;
    height: 246px;
    text-align: center;
    padding:0  1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.lista-blocos-laranja .list-item h2 {
    font-size: 1.5rem;
    line-height: 1.938rem;
    text-transform: uppercase;
}
#content .lista-blocos-laranja .list-item p {
    color: #ccc;
    margin-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.2rem;
    margin-bottom: 5px;
}
.lista-blocos-laranja .list-item:hover {
    background: #1fc86a url(../img/lista-seta.png) top right no-repeat;
    color: #fff !important;
}
.lista-blocos-laranja .list-item:hover p,
.lista-blocos-laranja .list-item:hover h2 a:link,
.lista-blocos-laranja .list-item:hover h2 a:visited,
#content .lista-blocos-laranja h2 a:hover {
    color: #fff !important;
}

/* tile linha-altura-fixa */

.linha-altura-fixa {
    height:440px !important;
}

/* tile de lista */
.lista-blocos .tile-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.lista-blocos .tile-header {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin:20px 0 30px 0;
    border-bottom: 2px solid #e1e1e1;
    position: relative;
}
.lista-blocos .tile-header h2 {
    position: absolute;
    background: #f9f9f9;
    padding: 0 20px;
    display: inline-flex;
    top: -10px;
    text-transform: uppercase;
    font-weight: normal !important;
    font-size: 1rem;
    color: #333;
}
.linha-destacada .lista-blocos .tile-header h2 {
    background: #f7f7f7 !important;
}
.lista-blocos .list-item {
    width: 20%;
    height: 246px;
    text-align: center;
    padding:0  1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.lista-blocos .list-item h2 {
    font-size: 1.5rem;
    line-height: 1.938rem;
    text-transform: uppercase;
}
#content .lista-blocos .list-item p {
    color: #ccc;
    margin-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.2rem;
    margin-bottom: 5px;
}
.lista-blocos .list-item:hover {
    background: #1FC86A url(../img/lista-seta-verde.png) top right no-repeat;
    color: #fff !important;
}
.lista-blocos .list-item:hover p,
.lista-blocos .list-item:hover h2 a:link,
.lista-blocos .list-item:hover h2 a:visited,
#content .lista-blocos h2 a:hover {
    color: #fff !important;
}

/* box colorido */
.tile.box-colorido {
    display: flex;
    >div {
        background: #37120d;
        padding: 20px 40px;
        color: #fff !important;
        font-size: 1.3rem;
        line-height: 120%;
        align-self: inherit !important;
        align-self: flex-end;
    }
    a {
        color: #fff !important;
        background: #37120d;
        border-radius: 30px;
        display: inline-block;
        padding: 0px 30px;
        font-size: 0.875rem;
        text-transform: uppercase;
        font-weight: bold;
        border: solid 2px #ffffff;
        border-bottom: solid 2px #fff !important;
    }
    a:hover {
        color: #fff !important;
    }
    h1 {
        color: #1fc86a;
        font-size: 3.75rem;
        line-height: 3.063rem;
        letter-spacing: -0.0625rem;
    }
    h2{
        color: #fff;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 800;
    }
    h3 {
        color: #1fc86a;
        font-size: 3.75rem;
        line-height: 1.063rem;
        letter-spacing: -0.0625rem;
    }
    p {    
        font-size: 120%;
        margin-top: 10px;
    }
}

/* tile box branco */
.tile.box-branco>div {
    align-self: flex-end;
    margin-bottom: 12px;
}

/* tile box cinza */
.tile.box-cinza, .tile.box-cinza-sem-redes-sociais {
        background: #f6f6f6;
        h1, h2, {
            color: #000;
        }
        h3 {
            color: #1fc86a;
            font-size: 3.75rem;
            line-height: 3.063rem;
            letter-spacing: -0.0625rem;
        }
        img {
            margin-top:10px;
        }
        a {
            color: #000 !important;
            background: #f8f8f8;
            border-radius: 30px;
            display: inline-block;
            padding: 0px 30px;
            font-size: 0.875rem;
            text-transform: uppercase;
            font-weight: bold;
            border: solid 2px #000;
            border-bottom: solid 2px #000 !important;
        }

        a:hover {
            color: #1fc86a !important;
        }

    }

/* bloco contato */

.tile.bloco-contato{
    display: inline-block !important;
    h2 {
        font-size: 22px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
    }
    p {
        font-size: 22px !important;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        margin: 0 !important;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
    }   
}

/* tile de foto sobreposta */
.tile.foto-sobreposta {
    position: relative;
    height: 270px;
    display: flex;

    .tile-content {
        align-self: flex-end;
    }
    img {
        object-fit: cover;
        height: 270px;
        width:100%;
        position: absolute;
        top: 0;
        z-index: -2;
    }
    h1,
    h2,
    h3 {
        padding: 0 100px 20px 20px;
        margin: 0 !important;

    }
    h2 {
        font-size: 1.75rem;
        line-height: 2.188rem;
    }
    h2 a, h1 a, h3 a,
    h2 a:hover, h1 a:hover, h3 a:hover {
        color: #fff;
    }

    .tile-section {
        color: #0094ff;
        left: 15px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 100px 10px 20px;
    }
    .tile-description,.tile-subtitle,.tile-section{
        padding-left:20px;
    }
    .likes {
        float:right;
        position:absolute !important;
        filter: invert(100%);
    }
}
#content .tile.foto-sobreposta p {
    color: #fff;
    line-height: 1.563rem !important;
}

/* tile de foto sobreposta */
.col-md-6 .tile.foto-sobreposta {
    position: relative;
    height: 560px;
    display: flex;

    .tile-content {
        align-self: flex-end;
    }
    img {
        object-fit: cover;
        height: 560px;
        width:100%;
        position: absolute;
        top: 0;
        z-index: -2;
    }
    h1,
    h2,
    h3 {
        padding: 0 100px 20px 20px;
        margin: 0 !important;

    }
    h2 {
        font-size: 1.75rem;
        line-height: 2.188rem;
    }
    h2 a, h1 a, h3 a,
    h2 a:hover, h1 a:hover, h3 a:hover {
        color: #fff !important;
    }

    .tile-section {
        color: #0094ff;
        left: 15px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 100px 10px 20px;
    }
}
#content .tile.foto-sobreposta p {
    color: #fff;
    line-height: 1.563rem !important;
}

/* tile de foto sobreposta fonte branca */
.tile.foto-sobreposta-fonte-branca {
    position: relative;
    height: 270px;
    display: flex;

    .tile-content {
        align-self: flex-end;
    }
    img {
        object-fit: cover;
        height: 270px;
        width:100%;
        position: absolute;
        top: 0;
        z-index: -2;
    }
    h1,
    h2,
    h3 {
        padding: 0 100px 20px 20px;
        margin: 0 !important;
        color: #FFF !important;

    }
    h2 {
        font-size: 1.75rem;
        line-height: 2.188rem;
    }
    h2 a, h1 a, h3 a,
    h2 a:hover, h1 a:hover, h3 a:hover {
        color: #FFF !important;
    }

    .tile-section {
        color: #0094ff;
        left: 15px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 100px 10px 20px;
    }
}
#content .tile.foto-sobreposta p {
    color: #fff;
    line-height: 1.563rem !important;
}


/* tile de foto sobreposta grande */
.tile.foto-sobreposta-grande {
    position: relative;
    height: 560px;
    display: flex;

    .tile-content {
        align-self: flex-end;
        padding-bottom: 90px;
    }
    img {
        object-fit: cover;
        height: 560px !important;
        position: absolute;
        top: 0;
        z-index: -2;
    }
    h1,
    h2,
    h3,
    p {
        margin: 20px 20px 20px 33px !important;
        width: 60%;
        color: #fff !important;
    }
    h2 {
        font-size: 1.75rem;
        line-height: 2.188rem;
    }

    p a {
        color: #fff !important;
        background: transparent;
        border-radius: 30px;
        display: inline-block;
        padding: 11px 29px;
        font-size: 0.875rem;
        text-transform: uppercase;
        font-weight: bold;
        border: 2px solid #fff !important;
    }
}


/*linha destacada */
.portaltype-collective-cover-content #content div.row.linha-destacada {
    width: 100%!important;
    justify-content: center;
    background: #244a7c;
    padding: 0 0 10px 0;
    margin: 0;

    .tile {
        padding:10px 20px;
        box-sizing:border-box;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        a:link, a:visited, a:hover {
            color: #fff !important;
        }
        h1, h2, h3, a:link, a:visited, a:hover {
            color: #fff;
        }
    }
    .box-branco .tile {
        background: #fff;
        h1, h2, h3, {
            color: #244a7c;
        }
        a:link, a:visited, a:hover {
            color: #244a7c !important;
        }


    }
    .col-md-3 {flex-basis: 285px;}
    .col-md-4 {flex-basis: 335px;}
    .col-md-5 {flex-basis: 475px;}
    .col-md-6 {flex-basis: 570px;}
    .col-md-12 {flex-basis: 1110px;}
    .col-md-16 {flex-basis: 1110px;}
    .tile-transparente {
        background: transparent !important;
        color: #fff !important;
        h1, h2, h3 {
            color: #fff;
        }
    }
    .botao-texto a, .botao-texto-icone a,
    a.botao-texto, a.botao-texto-icone {
        border: 2px solid #fff !important;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 0.875rem !important;
    }
    .botao-texto-icone a::before,
    a.botao-texto-icone::before{
        @include sprite($botao-com-icone);
        content: " ";
        white-space: nowrap;
        display: inline-block;
        margin-right: 10px;
    }
}

/*linha diferenciada */
.linha-diferenciada .tile .tile-subtitle {
    background: #1fc86a;
    color: #fff !important;
    display: inline-block;
    margin-left: 20px;
    font-size: .875rem !important;
    width: auto;
    height: auto;
    padding: 2px 12px !important;
    margin-bottom: 10px !important;
}
.linha-diferenciada .tile .tile-subtitle:before {
    display: none;
}

/*linha discreta */
.portaltype-collective-cover-content div.row.linha-discreta {
    width: 100%!important;
    justify-content: center;
    background: #F9F9F9;
    padding: 0 0 10px 0;
    margin: 0;
    z-index: 1;

    .box-branco {
        background: #fff;
        h1, h2, h3, {
            color: #244a7c;
            }
        }

    .tile {
        padding:10px 20px;
        box-sizing:border-box;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        h1, h2, h3 {
            color: #000;
        }
    }
    .collection-item {
        background: #fff;
    }

    .col-md-3 {flex-basis: 285px;}
    .col-md-4 {flex-basis: 335px;}
    .col-md-5 {flex-basis: 475px;}
    .col-md-6 {flex-basis: 570px;}
    .col-md-12 {flex-basis: 1110px;}
    .col-md-16 {flex-basis: 1110px;}
}

/* colecao lada a lado */
.tile-ladoalado {
    .cover-collection-tile {
        display: flex;
        flex-grow: 1;
    }
    .collection-item {
        width: 20%;
        padding: 10px;
        margin: 20px 10px 10px 10px;
    }
}

/* linha recuada */
.portaltype-collective-cover-content div.row.linha-recuada {
    width: 100%!important;
    margin: 0;
    .col-md-12 {
        padding: 0;
    }
}

/* estilo para uso na linha do cover  */
.portaltype-collective-cover-content.template-view div.row.linha-destaquetopo {
    width: 100% !important;
    margin: 0 !important;
    position: inherit;
    img {
        height: 680px;
        width: 100%;
        object-fit: cover;
        position: absolute !important;
        top: 0;
        left: 0;
        z-index: -2;
    }
    .foto-destacada-grande img {
        height: 802px;
    }
    .column {
      padding: 0;
    }
    .tile-content {
        height: 500px;
        justify-content: center;
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    h1, h2, h3, p, time {
        width: 1140px;
        padding-right: 500px;
        box-sizing:border-box;
        margin: 0 auto 10px auto;
        color: #fff;
        a {
            color: #fff !important;
        }
    }
    p.tile-description {
        font-size: 1.375rem !important;
    }
    .botao-texto a, .botao-texto-icone a,
    a.botao-texto, a.botao-texto-icone {
        border: 2px solid #fff !important;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 0.875rem !important;
    }
    .botao-texto-icone a::before,
    a.botao-texto-icone::before{
        @include sprite($botao-com-icone);
        content: " ";
        white-space: nowrap;
        display: inline-block;
        margin-right: 10px;
    }
}
.portaltype-collective-cover-content.template-view div.row.linha-destaquetopo .tile::before {
    background-color: transparent;
    background-image:
    radial-gradient(
      transparent, #000
    );
    content: " ";
    white-space: nowrap;
    display: block;
    height: 680px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    z-index: -1;
    text-indent: -3000px;
}
.portaltype-collective-cover-content.template-view div.row.linha-destaquetopo .tile.foto-destacada-grande::before {
    height: 802px;
}
.template-compose div.row.linha-destaquetopo {
  position: relative !important;
}
header.inverter .search-wrapper {
  border-bottom: 1px solid hsla(0,0%,100%,.2);
}


/* coluna destacada */
.colunas-destacadas .column,
.column.colunas-destacadas {
    outline: 20px solid #fff;
    background-color: #f7f7f7;
    padding: 50px 50px;
    box-sizing: border-box;
}
/* coluna quadrada */
.colunas-quadradas .column,
.column.colunas-quadradas {
    padding: 50px 50px;
    box-sizing: border-box;
}

/* box escuro */
.box-escuro {
    background: #0c1c3c;
    color: #fff;
    a:link, a:visited, a:hover {
        color: #fff !important;
    }
    h1, h2, h3 {
        color: #1fc86a !important;
    }
}

/* TOP SUBJECTS */
.template-view #content .tile-em-alta {
    margin: 10px auto 30px auto;
    display: inline-block;

    .cover-list-tile {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .tile-header {
        width: 100%;
        justify-content: center;
        display: flex;
        margin-bottom: 30px;
    }

    a {
        border-radius: 30px;
        border: solid 2px #222 !important;
        padding: 10px 23px;
        margin: 5px;
        height: 50px;
        box-sizing: border-box;
        font-size: 1rem;
        font-weight: bold;
        white-space: nowrap;
        display: inline-block;
        text-transform: uppercase;
    } 
    a:hover {
        background: #0094ff;
        color: #fff !important;
        border: solid 2px #0094ff !important;
    }
    .tile-header h2 {
        justify-content: center;
        font-weight: normal !important;
        text-transform: uppercase;
        white-space: nowrap;
        color: #222 !important;
        font-size: 1rem;
    }
    .tile-header:before, .tile-header:after {
        content: "linha";
        background: #ccc;
        width: 30%;
        height: 1px;
        text-indent: -3000px;
        margin: 13px;
    }
}

/* header discreto */
.tile.tile-discreto .outstanding-header h2 {
    font-weight: 200 !important;
    font-size: 1rem;
}
.tile.tile-discreto .outstanding-header h2:before, .tile.tile-discreto .outstanding-header h2:after {
    content: "linha";
    background: #ccc;
    width: 30%;
    height: 1px;
    font-size: 1px;
    text-indent: -3000px;
    margin: 13px;
    display: inline-block;
}

/* geleria */
.brasil-gallery-tile .gallery-title {
    color: #FFF !important;
}
.brasil-gallery-tile .gallery-global-information .gallery-description {
    border-bottom: 1px solid #f7f7f7;
    color: #FFF !important;
}
.brasil-gallery-tile .gallery-subtitle {
    color: #FFF !important;
}
.brasil-gallery-tile .gallery-information {
    color: #FFF !important;
}
.brasil-gallery-tile .thumb-title {
    color: #FFF !important;
}
.brasil-gallery-tile .gallery-more {
    background: #FFF !important;
    color: #000;
}

/* tile de faq */
.tile-faq {
    h2 {
        text-align: center;
    }
    p {
        color: #fff;
    }
    dl {
        margin: 0 0 50px 0;
    }
    dt {
        font-size: 1.2rem;
        margin-bottom: 6px !important;
        margin-top: 10px;
        padding: 10px;
    }
    dt:hover {
        cursor: pointer;
        background: #f7f7f7;
    }
    dt:before {
        content: "+";
        color: #1360bc;
        white-space: nowrap;
        display: inline-block;
        margin-right: 10px;
        font-size: 2rem;
        float: left;
    }
    dt.aberto:before{
        content: "-";
    }
    dd {
        margin: 0 0 20px 29px;
        padding-bottom: 10px;
        display:none;
    }
    .tile .tile-subtitle:before {
        background: #1fc86a !important;
    }
    
}

/* tile box cinza sem redes sociais */
.tile.box-cinza-sem-redes-sociais{
        .likes {
          display:none !important;
        }
    }

/* Conselho */

.portaltype-collective-cover-content.section-conselho {
    #portal-description, #portal-title, .link-contraste, .link-vlibras,
    #portal-services a, #portal-breadcrumbs.inverter, #portal-breadcrumbs .breadcrumbSeparator {
        color: #FFF !important;
    }
    #portal-breadcrumbs #breadcrumbs-home a:before {
          @include sprite($casinha-branca);
          }

    .ico-navegacao{
        @include sprite($nav-claro);
    }
    .link-contraste:before{
        @include sprite($contraste);   
    }
    .link-vlibras:before {
        @include sprite($vlibras);
    }
    #portal-searchbox .searchButton {
        @include sprite($busca-escuro);
        background-color: transparent;  
    }
}