.resize-font {
    display: inline-block;
    margin-top: -80px;
    position: absolute;
    right: 90px;
    font-size: 16px;
    border-left: 1px solid rgba(0,0,0,.1);
    padding-left: 0.5rem;

    li {
       display: inline-block !important;
       padding: 0 5px;

       a {
        color: #222 !important;
        font-weight: bold;
       }
    }
}

#viewlet-texttospeech {
    min-height: 1.2em;
    text-align: right;
    display: inline;
    position: absolute;
    margin-top: -80px;
    right: 190px;

    #texttospeech-button {
      background: transparent;
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      align-items: center;
      transform: translateY(-7px);
    }
    #texttospeech-button:focus {
      outline: 0;
    }
    #texttospeech-button::before {
      @include sprite($ico-audio);
      content: '';
      filter: invert(100%);
    }
}