<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>IDG 2.0</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.publicPath %>favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.publicPath %>favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.options.publicPath %>favicons/favicon-16x16.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.publicPath %>favicons/manifest.json">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.options.publicPath %>favicons/safari-pinned-tab.svg" color="#00a300">
    <meta name="msapplication-config" content="<%= htmlWebpackPlugin.options.publicPath %>favicons/browserconfig.xml">
    <meta name="theme-color" content="#00a300">
  </head>
  <body>
    <p class="hiddenStructure">
      <a accesskey="2" href="#conteudo">Skip to content.</a> |
      <a accesskey="3" href="#main-navigation">Skip to navigation</a>
    </p>
    <!-- User -->
    <div id="user">
      <ul>
        <li><a href="#" title="Login">Login</a></li>
      </ul>
    </div>
    <!-- Header -->
    <header id="main-header" role="banner" class="inverter">
      <div class="header-wrapper">
          <div id="logo">
              <a id="portal-logo" title="Todas as informações sobre a Presidência da República do Brasil e as atividades diárias do presidente Michel Temer." href="http://www2.planalto.gov.br">
                <span id="portal-title-1">Governo do</span>
                <h1 id="portal-title" class="corto inverter">Brasil</h1>
                <span id="portal-description" class="inverter">portal do governo brasileiro</span>
              </a>
          </div>

          <div class="header-accessibility">
            <ul>
              <li><a href="#" class="link-contraste inverter">Alto Contraste</a></li>
              <li><a href="http://www.vlibras.gov.br/" class="link-vlibras inverter">Vlibras</a></li>
            </ul>
            <ul id="language" class="hidden">
              <li class="language-es">
                  <a href="#">Espa&#241;ol</a>
              </li>
              <li class="language-en">
                  <a href="#">English</a>
              </li>
            </ul>
          </div>

      </div>
      <!-- Segunda linha do header -->
      <div class="search-wrapper">
          <!-- icones -->
          <div class="header-icons">
            <a class="ico-navegacao">Navegação</a>
          </div>
          <div class="links-destaque inverter">
            <ul>
              <li><a href="#">link 1</a></li>
              <li><a href="#">link 2</a></li>
              <li><a href="#">link 3</a></li>
              <li><a href="#">link 4</a></li>
            </ul>
          </div>

          <!-- Search -->
          <div id="search" role="search">
            <h2>O que você está procurando?</h2>
            <form>
              <div class="LSBox">
                <input name="SearchableText" type="text" size="18" title="Buscar no Site" placeholder="Buscar no Site" accesskey="4" class="searchField" id="searchGadget" autocomplete="off"><input class="searchButton inverter" type="submit" value="Buscar">
                <div class="LSResult" id="LSResult" style="display: none;">
                  <div class="LSShadow" id="LSShadow"></div>
                </div>
              </div>
            </form>
          </div>
      </div>
      <!-- Main Menu -->
      <div class="navigation-wrapper">

        <div class="navigation-content">

          <nav id="main-navigation" role="navigation" class="navigation-cell">
              <ul class="list-navigation">
                <li><a href="#" title="Link name">Notícias</a></li>
                <li><a href="#" title="Link name">FAQ</a></li>
                <li><a href="#" title="Link name">Trabalhador</a></li>
                <li><a href="#" title="Link name">Empregador</a></li>
                <li><a href="#" title="Link name">Vídeos</a></li>
                <li><a href="#" title="Link name">Leia na Íntegra</a></li>
              </ul>
            <div class="navigation-redes navigation-cell">
              <h4>Mídias Sociais</h4>
              <ul></ul>

            </div>
          </nav>


        </div>
      </div>
    </header>

    <div id="portal-breadcrumbs" class="inverter">

        <span id="breadcrumbs-you-are-here">Você está aqui:</span>
        <span id="breadcrumbs-home">
            <a href="http://45.32.162.149">Página Inicial</a>
            <span class="breadcrumbSeparator">
                /
            </span>
        </span>
        <span id="breadcrumbs-1" dir="ltr">
                <a href="http://45.32.162.149/faq">Pagina 1</a>
                <span class="breadcrumbSeparator">
                    /
                </span>
        </span>
        <span id="breadcrumbs-2" dir="ltr">
                <a href="http://45.32.162.149/faq/trabalhador">Pagina 2</a>
                <span class="breadcrumbSeparator">
                    /  
                </span>
        </span>
        <span id="breadcrumbs-3" dir="ltr">
                <span id="breadcrumbs-current">Página 3</span>
        </span>
    </div>


    <div class="video"></div>

    <div id="wrapper">


      <!-- Columns -->


      <div id="main">
        <aside id="column-one">
          <div class="visualPadding">
            <div class="portlet">Coluna 1</div>
          </div>
        </aside>

        <main id="main-content" role="main">
          <div>
            <p class="section">Nome da seção</p>
            <h1>Tema básico para a nova versão do Portal Padrão IDG 2.0</h1>
            <div property="rnews:description" class="documentDescription">Novo tema para a versão 2.0 da Identidade Digital do Governo Federal. O novo tema é muito mais simples e fácil de customizar</div>
            <div class="documentByLine" id="plone-document-byline">

                <span class="documentAuthor">
                  por Governo do Brasil
                     —
                </span>

              <span class="documentModified">
                <span>última modificação</span>
                <span property="rnews:dateModified">20/11/2017 15h29</span>
              </span>

              <span class="contentHistory" id="content-history">
                —
                <a href="http://45.32.162.149/noticias/as-vantagens-da-modernizacao-regulamentacao-direitos-preservados-e-mais-seguranca-para-todos/@@historyview" rel="#pb_4" class="link-overlay" style="cursor: pointer;">Histórico</a>
              </span>

            </div>
            <p>Este é um tema muito simples e enxuto para o <a href="#">Plone</a> para ser utilizado nas instalações padrão da Identidade Digital do Governo Federal. </p>
            <h2>HTML</h2>
            <p>Ao invez de utilizar diversos divs o tema utiliza várias tags padrão do HTML 5</p>
            <h2>Styles</h2>
            <p>Todos os estilos são definidos em um arquivo SCSS único, comum para todos os temas existentes. Cada tema possui apenas um simples arquivo de configuração de váriaveis, que altera toda a aparencia do portal.</p>
            <h3>Grid</h3>
            <p>Este tema utiliza FLEX para a criação de grids extremamente simples em lugares como cabeçalho, footer e nas colunas principais.</p>
            <p>Alem disso este tema implementa os estilos grid básico do Bootstrap 3.0, permitindo a utilização do portal com 12 colunas ao invez do tradicional grid de 16 colunas do Plone </p>

            <h3>Responsivo?</h3>
            <p>Sim</p>
            <h2>Estilos básicos para formatação</h2>
            <h1>h1. Heading 1</h1>
            <h2>h2. Heading 2</h2>
            <h3>h3. Heading 3</h3>
            <h4>h4. Heading 4</h4>
            <h5>h5. Heading 5</h5>
            <h6>h6. Heading 6</h6>
          </div>
        </main>
        <aside id="column-two">
          <div class="visualPadding">
            <div class="portlet">Coluna 2</div>
          </div>
        </aside>
      </div>
      <div class="conteudo-relacionado"></div>

      <footer id="portal-footer">
        <div class="footer-wrapper">

          <div class="colunas-rodape">
            <div class="coluna-redes">
              <h3>Redes sociais</h3>
              <ul>
                <li><a class="ico-facebook" href="https://www.facebook.com/governodobrasil/">Facebook</a></li>
                <li><a class="ico-twitter" href="https://twitter.com/governodobrasil">Twitter</a></li>
                <li><a class="ico-instagram" href="http://instagram.com/governodobrasil">Instagram</a></li>
              </ul>
            </div>
            <div class="coluna-menu">
              <ul class="rodape-navigation">
                <li>icone1</li>
                <li>icone2</li>
                <li>icone3</li>
                <li>icone4</li>
                <li>icone5</li>
                <li>icone6</li>
              </ul>
            </div>
            <div class="coluna-governo">
              <ul>
                <li class="logo-governo">
                  <a href="#">Governo Federal</a>
                </li>
                <li class="logo-acesso">
                  <a href="#">Acesso à Informação</a>
                </li>
              </ul>
            </div>
          </div>


          <div class="clear"></div>
        </div>
      </footer>

    </div>
    <div id="foora_brasil_js"></div>
  </body>
</html>
